@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: .5rem 0;
}

img {
  width: 100%
}

hr {
  height: 2px;
  background-color: #f1f1f1;
  border: none;
}

/* NAVIGATION */

.navbar {
  position: sticky;
  top: 0;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #047aed;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  padding: .5rem;
}

.navbar-links li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
  color: white;
  position: relative;
  display: block;
  padding: 10px 0;
}

.navbar-links li a::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: .15rem;
  background-color: #f1f1f1;
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

.navbar-links li a:hover::before,
.navbar-links li a:focus::before {
  transform: scaleX(1);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* SECTIONS */

.section {
  padding: 3rem 5rem;
}

.flex-container {
  display: flex;
}

.section-side-content {
  width: 35%;
}

.section-content {
  width: 100%;
  margin-left: 2rem;
}

/* ABOUT ME */

#about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

#about-me {
  width: 50%;
}

#about-me p {
  display: flex;
  justify-content: space-between;
}

.profile-picture {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CONTACT */



/* FOOTER */

.flex-container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.flex-container-footer h3 {
  padding: 0.5rem 0;
}